.flag {
  display: inline-flex;
  background-color: rgb(236, 236, 236);
  border-radius: 2px;
  margin: 27.5px 5px 27.5px 5px;
}

.redflag {
  background-color: red;
}

.flagContent {
  margin: 6px 10px 6px 10px;
  color: black;
  font-weight: bold;
}

.hackauth {
  display: flexbox;
}